@font-face {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: normal;
   src: local('Helvetica'), url('../fonts.Helvetica.ttf') format('ttf');
}

@font-face {
   font-family: 'Helvetica';
   font-style: normal;
   font-weight: bold;
   src: local('Helvetica'), url('../fonts.Helvetica-Bold.ttf') format('ttf');
}

header {
   height: 69px;
   border-bottom: 1px solid seashell;
}

.logo {
   height: 50px;
   padding-left: 10px;
}

nav {
   text-decoration: underline;
}

main {
   display: inline-flex;
   align-items: center;
}

main h4 {
   font-size: 22px;
}

.month-tea img {
   width: 300px;
   height: 200px;
}

footer {
   padding-left: 20px;
}

.font {
   font-family: Helvetica;
   color: #FFF5EE;
}

.background {
   background-color: #000000;
   opacity: 0.9;
}
